@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

*{
    font-family: 'Arvo', serif;
}

body{
    margin:0 !important;
    overflow-x: hidden;
}

.footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.link{
    font-size: 15px;
    color:#3d4246
}

tr{
    height:35px;
    text-align:center;
    line-height:1.5;
}

td{
    vertical-align:center;
    padding: 10px 14px;
}

.links-table{
    width:80%;
}

.links-table, tr{
    border: 1px solid #e8e9eb;
    border-collapse: collapse;
}

@media screen and (min-width:1024px) {
    .adminText{
        font-size:28px !important;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .adminText{
        font-size:24px !important;
    }
}

@media screen and (max-width:767px) {
    .adminText{
        font-size:18px !important;
    }
    .adminPaper{
        padding:2rem !important;
    }
}
